<br>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Application</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">{{ titre }}</li>
	</ol>
</nav>
